.directory
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
secret.properties
app-release.apk
/app/release/
/app/build/

